Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2019-11, with the labels that each got.

#79 f tests with em-test-helper
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/DocumentTaskScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/smoke/SmokeTest.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/testutil/Env.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/testutil/IdamHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/testutil/S2sHelper.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/testutil/TestUtil.java
  src/aat/resources/application.yml
Labels: ns:em-npa-pr-79

#74 Add api version for helm chart
  charts/em-npa/Chart.yaml
Labels: ns:em-npa-pr-74

#81 indent postgres & bump chart ver
  charts/em-npa/Chart.yaml
  charts/em-npa/values.preview.template.yaml
Labels: ns:em-npa-pr-81
