Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2019-10, with the labels that each got.

#57 disable Legacy Deployment On AAT
  Jenkinsfile_CNP
Labels: ns:em-npa-pr-57

#67 gradle upgrades
  docker-compose-dependencies.yml
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  src/aat/java/uk/gov/hmcts/reform/em/npa/testutil/TestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/npa/service/impl/DmStoreDownloaderImplTest.java
Labels: ns:em-npa-pr-67

#70 Removed alias related lines
  charts/em-npa/Chart.yaml
  charts/em-npa/requirements.yaml
  charts/em-npa/values.aat.template.yaml
  charts/em-npa/values.preview.template.yaml
  charts/em-npa/values.yaml
Labels: ns:em-npa-pr-70
