Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2020-03, with the labels that each got.

#113 test PR add suppressions
  dependency-check-suppressions.xml
Labels: ns:em, rel:em-npa-pr-113

#115 Openid Connect Changes
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/em-npa/Chart.yaml
  charts/em-npa/values.yaml
  dependency-check-suppressions.xml
  docker-compose-dependencies.yml
  idam-client-setup.sh
  infrastructure/demo.tfvars
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/OpenIdConnectScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/testutil/TestUtil.java
  src/aat/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/npa/config/security/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/npa/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/npa/config/security/SecurityUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/npa/TestSecurityConfiguration.java
  src/test/java/uk/gov/hmcts/reform/em/npa/batch/DocumentTaskItemProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/repository/CustomAuditEventRepositoryIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/DocumentTaskResourceIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/errors/ExceptionTranslatorIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/service/impl/AnnotationSetFetcherImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/service/impl/DmStoreDownloaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/service/impl/DmStoreUploaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/service/impl/PdfAnnotatorImplTest.java
Labels: ns:em, rel:em-npa-pr-115

#126 Resolved the zalando dependency issue
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/errors/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/errors/ExceptionTranslator.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/errors/ExceptionTranslatorIntTest.java
Labels: ns:em, rel:em-npa-pr-126
