Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2020-06, with the labels that each got.

#169 Updated em-test-helper version and changed the userdetails endpoint
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/npa/config/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/em/npa/repository/IdamRepository.java
  src/test/java/uk/gov/hmcts/reform/em/npa/repository/IdamRepositoryTest.java
Labels: ns:em, rel:em-npa-pr-169

#170 Updated Swagger version
  src/main/java/uk/gov/hmcts/reform/em/npa/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/DocumentTaskResource.java
Labels: ns:em, rel:em-npa-pr-170

#171 EM-2993: Ensure original page size is used when converted back to PDF…
  src/main/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedaction.java
Labels: ns:em, rel:em-npa-pr-171

#174 Removed files
  bin/start-local-environment.sh
  docker-compose-dependencies.yml
  idam-client-setup.sh
Labels: ns:em, rel:em-npa-pr-174

#176 EM-2671: Convert all file extensions to lower case before checking them
  src/main/java/uk/gov/hmcts/reform/em/npa/service/impl/RedactionServiceImpl.java
Labels: ns:em, rel:em-npa-pr-176
