Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2020-04, with the labels that each got.

#133 Removed issuer validation
  Jenkinsfile_CNP
  charts/em-npa/Chart.yaml
  charts/em-npa/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/npa/config/security/SecurityConfiguration.java
Labels: ns:em, rel:em-npa-pr-133

#137 Added in startup script
  bin/idam-authenticate.sh
  bin/idam-client-setup.sh
  bin/start-local-environment.sh
  docker-compose-dependencies.yml
Labels: ns:em, rel:em-npa-pr-137

#138 User id fix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/npa/config/Config.java
  src/main/java/uk/gov/hmcts/reform/em/npa/config/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/em/npa/config/security/SpringSecurityAuditorAware.java
  src/main/java/uk/gov/hmcts/reform/em/npa/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/em/npa/service/impl/DmStoreUploaderImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/npa/config/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/DocumentTaskResourceIntTest.java
Labels: ns:em, rel:em-npa-pr-138

#136 Em 2793 apply redaction to documents
  src/main/java/uk/gov/hmcts/reform/em/npa/domain/RedactionDTO.java
  src/main/java/uk/gov/hmcts/reform/em/npa/redaction/ImageRedaction.java
  src/main/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedaction.java
  src/main/java/uk/gov/hmcts/reform/em/npa/service/RedactionService.java
  src/main/java/uk/gov/hmcts/reform/em/npa/service/impl/RedactionServiceImpl.java
  src/main/resources/dummy.pdf
  src/main/resources/fist.png
  src/test/java/uk/gov/hmcts/reform/em/npa/redaction/ImageRedactionTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedactionTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/service/impl/AnnotationSetDTOToPDAnnotationMapperImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/service/impl/RedactionServiceImplTest.java
Labels: ns:em, rel:em-npa-pr-136

#141 Added in Pact tests
  README.md
  build.gradle
  dependency-check-suppressions.xml
  docker-pactbroker-compose.yml
  pacts/npa_api-idam_api.json
  src/contractTest/java/uk/gov/hmcts/reform/em/npa/IdamConsumerTest.java
Labels: ns:em, rel:em-npa-pr-141

#145 EM-2884 Added pipeline configurations for PactTest
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:em, rel:em-npa-pr-145
