Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2021-05, with the labels that each got.

#460 Fixed Resource leak
  src/main/java/uk/gov/hmcts/reform/em/npa/info/BuildInfo.java
Labels: ns:em, prd:em, rel:em-npa-pr-460

#447 Upgraded SpringBoot-2.4.5
  build.gradle
  charts/em-npa/Chart.yaml
  charts/em-npa/values.preview.template.yaml
  charts/em-npa/values.yaml
  config/owasp/dependency-check-suppressions.xml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-npa-pr-447

#461 Fixed Resource leak
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/RedactionResource.java
Labels: ns:em, prd:em, rel:em-npa-pr-461

#472 added junit 5 plugin
  build.gradle
Labels: ns:em, prd:em, rel:em-npa-pr-472

#481 added another cookie
  audit.json
Labels: ns:em, prd:em, rel:em-npa-pr-481

#482 Updated docker-compose-dependencies
  docker-compose-dependencies-simulator.yml
  docker-compose-dependencies.yml
Labels: ns:em, prd:em, rel:em-npa-pr-482

#493 Fixed Resource leak
  src/main/java/uk/gov/hmcts/reform/em/npa/info/BuildInfo.java
Labels: ns:em, prd:em, rel:em-npa-pr-493

#494 Updated name, product, component in db details
  infrastructure/main.tf
Labels: ns:em, prd:em, rel:em-npa-pr-494
