Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2021-03, with the labels that each got.

#381 Resolved CVE-2021-25122, CVE-2021-25329
  build.gradle
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-npa-pr-381

#382 Updated docker to use rse-idam-simulator
  README.md
  docker-compose-dependencies-simulator.yml
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/DocumentTaskScenarios.java
Labels: ns:em, prd:em, rel:em-npa-pr-382

#390 EM-3555-EM-NPA api: Add functional test cases for RedactionResource
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/RedactionScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/testutil/TestUtil.java
Labels: ns:em, prd:em, rel:em-npa-pr-390

#401 Fixed CVE-2020-15824, CVE-2020-29582
  build.gradle
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-npa-pr-401
