Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2022-07, with the labels that each got.

#937 Added in changes for CFTLib
  build.gradle
  settings.gradle
  src/aat/resources/application.yml
  src/cftlib/java/uk/gov/hmcts/reform/em/npa/redaction/cftlib/CftLibConfig.java
  src/main/resources/application.yaml
  src/main/resources/cftlib-am-role-assignments.json
Labels: ns:em, prd:em, rel:em-npa-pr-937

#948 Update README.md
  README.md
  src/aat/java/uk/gov/hmcts/reform/em/npa/testutil/ExtendedCcdHelper.java
Labels: ns:em, prd:em, rel:em-npa-pr-948

#952 Removed redundant Ccd Def File import logic
  src/aat/java/uk/gov/hmcts/reform/em/npa/testutil/ExtendedCcdHelper.java
Labels: ns:em, prd:em, rel:em-npa-pr-952

#965 Removed redundant cve suppression
  build.gradle
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-npa-pr-965
