Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2022-01, with the labels that each got.

#755 Updated sonar config
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/errors/BadRequestAlertException.java
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/errors/CustomParameterizedException.java
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/util/HeaderUtil.java
Labels: ns:em, prd:em, rel:em-npa-pr-755

#758 Fix sonar issues
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/RedactionResource.java
  src/main/java/uk/gov/hmcts/reform/em/npa/service/impl/DmStoreDownloaderImpl.java
Labels: ns:em, prd:em, rel:em-npa-pr-758

#759 Em 4206 add unit tests
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/errors/ValidationErrorException.java
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/util/HeaderUtil.java
  src/test/java/uk/gov/hmcts/reform/em/npa/config/audit/AsyncEntityAuditEventWriterTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/repository/CustomAuditEventRepositoryIntTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/errors/FieldErrorVMTest.java
Labels: ns:em, prd:em, rel:em-npa-pr-759

#767 Upgrade gradle to 7.3.3
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:em, prd:em, rel:em-npa-pr-767

#776 Added in am-role-assignment-service docker dependency
  bin/start-local-environment.sh
  docker-compose-dependencies.yml
  src/aat/resources/application.yml
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-npa-pr-776
