Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2022-10, with the labels that each got.

#1113 Em 4666 use debug level
  src/main/java/uk/gov/hmcts/reform/em/npa/Application.java
  src/main/java/uk/gov/hmcts/reform/em/npa/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/npa/config/security/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/em/npa/service/ServiceNameAspect.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/npa/service/ServiceNameAspectTest.java
Labels: ns:em, prd:em, rel:em-npa-pr-1113

#1114 EM-4680 remove unnecessary log config
  charts/em-npa/Chart.yaml
  charts/em-npa/values.yaml
  src/main/resources/logback-spring.xml
Labels: ns:em, prd:em, rel:em-npa-pr-1114

#1119 EM-4666 use debug level for app-insight
  charts/em-npa/Chart.yaml
  charts/em-npa/values.yaml
Labels: ns:em, prd:em, rel:em-npa-pr-1119

#1118 EM-4680 upgrade appinsight jar
  Dockerfile
Labels: ns:em, prd:em, rel:em-npa-pr-1118

#1136 Use postgres test db
  README.md
  build.gradle
  src/test/resources/config/application.yaml
Labels: ns:em, prd:em, rel:em-npa-pr-1136
