Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2022-08, with the labels that each got.

#968 Update the response code when getting markUp by non-enxistent document ID to 404
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/MarkUpScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/MarkUpResource.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/MarkUpResourceTest.java
Labels: ns:em, prd:em, rel:em-npa-pr-968

#979 Resolved CVE
  build.gradle
Labels: ns:em, prd:em, rel:em-npa-pr-979

#989 Resolved fortify issue
  docker-compose-dependencies-simulator.yml
  docker-compose-dependencies.yml
  docker-compose.yml
  docker-pactbroker-compose.yml
Labels: ns:em, prd:em, rel:em-npa-pr-989

#991 Resolve service exception
  src/main/java/uk/gov/hmcts/reform/em/npa/service/ServiceNameAspect.java
Labels: ns:em, prd:em, rel:em-npa-pr-991

#985 Flyway migration for AAT & Prod
  build.gradle
  charts/em-npa/Chart.yaml
  charts/em-npa/values.preview.template.yaml
  charts/em-npa/values.yaml
  gradle.properties
  src/aat/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/npa/config/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/npa/data/migration/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/em/npa/data/migration/PendingMigrationScriptException.java
  src/main/resources/application.yaml
  src/main/resources/db/changelog/00000000000000_initial_schema.xml
  src/main/resources/db/changelog/20180918132136_added_entity_DocumentTask.xml
  src/main/resources/db/changelog/20180918132314_added_entity_EntityAuditEvent.xml
  src/main/resources/db/db.changelog-master.xml
  src/main/resources/db/migration/V1__baseline_migration.sql
  src/main/resources/liquibase.properties
  src/test/resources/config/application.yaml
Labels: ns:em, prd:em, rel:em-npa-pr-985

#992 Resolved fortify preview secret issue
  charts/em-npa/Chart.yaml
  charts/em-npa/values.preview.template.yaml
  charts/em-npa/values.yaml
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-npa-pr-992

#998 Increased DB storage size for Perftest & Prod
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:em, prd:em, add-or-update, rel:em-npa-pr-998

#1011 Add backstage configuration file
  catalog-info.yaml
Labels: ns:em, prd:em, rel:em-npa-pr-1011
