Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2023-07, with the labels that each got.

#1529 Updated DB Connection Pool Size
  charts/em-npa/Chart.yaml
  charts/em-npa/values.yaml
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-npa-pr-1529

#1538 Updated Hikari connection-timeout
  charts/em-npa/Chart.yaml
  charts/em-npa/values.yaml
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-npa-pr-1538

#1549 change response code
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/MarkUpScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/npa/rest/MarkUpResource.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/MarkUpResourceTest.java
Labels: ns:em, prd:em, rel:em-npa-pr-1549

#1552 upgrade spring boot to 3.1.2
  build.gradle
Labels: ns:em, prd:em, rel:em-npa-pr-1552

#1553 Resolved CVE & removed redundant CVE
  build.gradle
Labels: ns:em, prd:em, rel:em-npa-pr-1553

#1561 Updated CVE List
  config/owasp/dependency-check-suppressions.xml
Labels: ns:em, prd:em, rel:em-npa-pr-1561
