Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2023-11, with the labels that each got.

#1733 EM-5649 fix app-insight logging
  Dockerfile
Labels: prd:em, ns:em, rel:em-npa-pr-1733

#1739 adding config to change dbs and added entityvalueV2
  src/main/java/uk/gov/hmcts/reform/em/npa/config/audit/AsyncEntityAuditEventWriter.java
  src/main/java/uk/gov/hmcts/reform/em/npa/domain/EntityAuditEvent.java
  src/main/resources/db/migration/V3__jhi_entity_audit_event_entity_value2.sql
Labels: prd:em, add-or-update, Do Not Merge, ns:em, rel:em-npa-pr-1739

#1760 drop batch tables
  src/main/resources/db/migration/V4__drop_batch_tables.sql
Labels: prd:em, ns:em, rel:em-npa-pr-1760

#1756 Em 5665 add copy entity values cronjob
  build.gradle
  charts/em-npa/Chart.yaml
  charts/em-npa/values.yaml
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/MarkUpScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/TestConfig.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/npa/batch/EntityValueProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/npa/config/BatchConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V5__batch_metadata.sql
Labels: prd:em, ns:em, enable_keep_helm, rel:em-npa-pr-1756

#1765 drop old entity value column
  src/main/java/uk/gov/hmcts/reform/em/npa/batch/EntityValueProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/npa/domain/EntityAuditEvent.java
  src/main/resources/db/migration/V6__drop_entity_value.sql
Labels: prd:em, ns:em, rel:em-npa-pr-1765

#1770 Updated logic to remove large objects
  src/main/java/uk/gov/hmcts/reform/em/npa/batch/EntityValueProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/npa/config/BatchConfiguration.java
Labels: prd:em, ns:em, rel:em-npa-pr-1770

#1771 add tasklet to remove large objects
  build.gradle
  charts/em-npa/Chart.yaml
  charts/em-npa/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/em/npa/batch/RemoveLargeObjectsTasklet.java
  src/main/java/uk/gov/hmcts/reform/em/npa/config/BatchConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/npa/repository/LargeObjectRepository.java
Labels: prd:em, ns:em, rel:em-npa-pr-1771
