Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2024-11, with the labels that each got.

#2304 update serenity to 4.2.9
  build.gradle
  config/owasp/dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/MarkUpScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/OpenIdConnectScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/RedactionScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/smoke/SmokeTest.java
Labels: prd:em, ns:em, rel:em-npa-pr-2304

#2307 Em-6333 change test container
  src/aat/java/uk/gov/hmcts/reform/em/npa/config/ContainerImageNameSubstitutor.java
  src/aat/resources/testcontainers.properties
  src/test/java/uk/gov/hmcts/reform/em/npa/config/ContainerImageNameSubstitutor.java
  src/test/resources/testcontainers.properties
Labels: prd:em, ns:em, rel:em-npa-pr-2307

#2308 Em 6325 update pact
  README.md
  build.gradle
  docker-pactbroker-compose-local.yml
  src/contractTest/java/uk/gov/hmcts/reform/em/npa/IdamConsumerTest.java
Labels: prd:em, ns:em, rel:em-npa-pr-2308

#2317 update package for okhttp mock
  build.gradle
Labels: prd:em, ns:em, rel:em-npa-pr-2317
