Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2024-02, with the labels that each got.

#1873 update deprecated config
  src/main/java/uk/gov/hmcts/reform/em/npa/config/security/SecurityConfiguration.java
Labels: prd:em, ns:em, rel:em-npa-pr-1873

#1845 fix pdf encryption exception
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedaction.java
  src/main/resources/passwordprotected.pdf
  src/test/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedactionTest.java
Labels: prd:em, ns:em, rel:em-npa-pr-1845

#1890 EM-5836 extend owasp suppression
  config/owasp/dependency-check-suppressions.xml
Labels: prd:em, ns:em, rel:em-npa-pr-1890
