Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2024-12, with the labels that each got.

#2344 Create SECURITY.md
  SECURITY.md
Labels: prd:em, ns:em, rel:em-npa-pr-2344

#2346 Tests updated to use JUnit5 annotations
  src/test/java/uk/gov/hmcts/reform/em/npa/config/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/info/BuildInfoTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/redaction/ImageRedactionTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedactionTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/MarkUpResourceTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/WelcomeResourceTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/service/CdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/service/impl/DmStoreDownloaderImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/service/impl/MarkUpServiceImplTest.java
Labels: prd:em, ns:em, rel:em-npa-pr-2346

#2348 Em 6341 migrate junit 5
  src/test/java/uk/gov/hmcts/reform/em/npa/config/audit/AsyncEntityAuditEventWriterTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/config/security/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/repository/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/MarkUpResourceTest.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/TestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/npa/rest/errors/FieldErrorVMTest.java
Labels: prd:em, ns:em, rel:em-npa-pr-2348

#2360 Functional Tests updated to use JUnit5 annotations
  build.gradle
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/MarkUpScenariosTest.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/OpenIdConnectScenariosTest.java
  src/aat/java/uk/gov/hmcts/reform/em/npa/functional/RedactionScenariosTest.java
Labels: prd:em, ns:em, rel:em-npa-pr-2360

#2339 CME-123: add db monitoring
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: prd:em, ns:em, aat/add-or-update, prod/add-or-update, rel:em-npa-pr-2339
