Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2024-04, with the labels that each got.

#1969 EM-5940-extend-suppression
  config/owasp/dependency-check-suppressions.xml
Labels: prd:em, ns:em, rel:em-npa-pr-1969

#1971 revert java chart upgrade
  charts/em-npa/Chart.yaml
Labels: prd:em, ns:em, rel:em-npa-pr-1971

#1984 moving java chart to v5.2.0 to no longer be deprecated
  charts/em-npa/Chart.yaml
Labels: prd:em, ns:em, rel:em-npa-pr-1984

#2003 Enable spot instances for lower envs
  charts/em-npa/Chart.yaml
  charts/em-npa/values.yaml
Labels: prd:em, ns:em, rel:em-npa-pr-2003

#2004 Moved spot instances out from environment
  charts/em-npa/Chart.yaml
  charts/em-npa/values.yaml
Labels: prd:em, ns:em, rel:em-npa-pr-2004
