Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2025-03, with the labels that each got.

#2476 EM-6575 reduction issue
  src/main/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedaction.java
Labels: prd:em, ns:em, rel:em-npa-pr-2476

#2488 Em-6575 fix for slipping reductions
  src/main/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedaction.java
Labels: prd:em, ns:em, rel:em-npa-pr-2488

#2495 EM-6589: PDFRedaction code coverage
  build.gradle
  src/test/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedactionTest.java
Labels: prd:em, ns:em, rel:em-npa-pr-2495

#2499 EM-6575 handle all rotations
  src/main/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedaction.java
  src/test/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedactionTest.java
Labels: prd:em, ns:em, rel:em-npa-pr-2499
