Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2025-05, with the labels that each got.

#2529 EM-6515 get markups consumer pact test
  src/contractTest/java/uk/gov/hmcts/reform/em/npa/NpaPactConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/npa/NpaPactProviderTest.java
Labels: prd:em, ns:em, rel:em-npa-pr-2529

#2534 refactor package structure for contract tests
  src/contractTest/java/uk/gov/hmcts/reform/em/npa/consumer/IdamConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/npa/consumer/NpaPactConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/npa/provider/NpaPactProviderTest.java
Labels: prd:em, ns:em, rel:em-npa-pr-2534

#2535 EM-6514 pact for markup update
  src/contractTest/java/uk/gov/hmcts/reform/em/npa/consumer/NpaPactConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/em/npa/provider/NpaPactProviderTest.java
Labels: prd:em, ns:em, rel:em-npa-pr-2535

#2557 Removed redundant rules
  .github/renovate.json
Labels: prd:em, ns:em, rel:em-npa-pr-2557
