Repository hmcts/em-native-pdf-annotator-app, pull requests merged in 2025-02, with the labels that each got.

#2422 move report location
  Jenkinsfile_CNP
Labels: prd:em, ns:em, rel:em-npa-pr-2422

#2444 EM-6414 add log
  src/main/java/uk/gov/hmcts/reform/em/npa/redaction/PdfRedaction.java
  src/main/resources/application.yaml
Labels: prd:em, ns:em, rel:em-npa-pr-2444

#2457 EM-6499 oci-charts
  charts/em-npa/Chart.yaml
Labels: prd:em, ns:em, rel:em-npa-pr-2457
